.appContainer {
  background-image: url('../images/appBg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bgColor {
  position: fixed;
  background-color: rgba(38, 38, 40, 0.95);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
